<div class="game-container">
    <div class="score-block">
      <h3 class="score" [ngClass]="{'new-best-score': newBestScore}">Score: {{score}}</h3>
      <h3 class="best-score" [ngClass]="{'new-best-score': newBestScore}">Best Score: {{best_score}}</h3>
    </div>
  <div class="row" *ngFor="let column of board; let i = index;">
    <div class="column" [ngStyle]="{'background-color': setColors(i, j)}" *ngFor="let row of column; let j = index"></div>
  </div>
  <div class="new-game-menu">
    <div class="start-button new-game-button" (click)="startGame()">Start Game</div>
  </div>
</div>